@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 67% 94%;
    --foreground: 248 39% 20%;
    --card: 0 0% 100%;
    --card-foreground: 248 39% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 248 39% 20%;
    --primary: 248 39% 39%;
    --primary-foreground: 240 60% 98%;
    --secondary: 350 29% 90%;
    --secondary-foreground: 350 29% 40%;
    --muted: 240 20% 90%;
    --muted-foreground: 240 5% 45%;
    --accent: 350 29% 57%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 20% 88%;
    --input: 240 20% 91%;
    --ring: 350 29% 57%;
    --radius: 0.8rem;
    --chart-1: 248 39% 39%;
    --chart-2: 350 29% 57%;
    --chart-3: 248 39% 60%;
    --chart-4: 350 29% 75%;
    --chart-5: 248 39% 80%;
  }
 
  .dark {
    --background: 248 10% 12%;
    --foreground: 240 10% 85%;
    --card: 248 10% 15%;
    --card-foreground: 240 10% 85%;
    --popover: 248 10% 12%;
    --popover-foreground: 240 10% 85%;
    --primary: 248 50% 70%;
    --primary-foreground: 248 10% 10%;
    --secondary: 350 20% 20%;
    --secondary-foreground: 350 20% 80%;
    --muted: 248 10% 20%;
    --muted-foreground: 240 5% 55%;
    --accent: 350 40% 65%;
    --accent-foreground: 350 10% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 248 10% 20%;
    --input: 248 10% 20%;
    --ring: 350 40% 65%;
    --chart-1: 248 50% 70%;
    --chart-2: 350 40% 65%;
    --chart-3: 248 50% 50%;
    --chart-4: 350 40% 45%;
    --chart-5: 248 50% 30%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
